@import "ui-variables";

:root {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
atom-workspace {
    background-color: @app-background-color;
    color: @text-color;
    font-size: 0.8rem;
}
.scrollbars-visible-always {
    /deep/::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        z-index: 99999;
    }
    /deep/::-webkit-scrollbar-track,
    /deep/::-webkit-scrollbar-corner {
        background: transparent;
    }
    /deep/::-webkit-scrollbar-thumb {
        background: @scrollbar-color;
        border-radius: 0.25rem;
        border: 1px solid fade(@text-color, 15%);
    }
}
status-bar {
    min-height: 1.5rem;
    line-height: 1.25rem;

    .status-bar-left {
        padding-left: 0.5rem;
    }
    .status-bar-right {
        padding-right: 0.5rem;

        > *, .inline-block {
            margin: 0 0.25rem;
            display: inline-block;
        }
    }
}
