@import "ui-variables";

::root {
	font-size: 16px;
}
* {
	box-sizing: border-box;
}
atom-workspace {
  background-color: @app-background-color;
}
.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /deep/ ::-webkit-scrollbar-track,
  /deep/ ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color;
  }
  /deep/ ::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: 4px;
  }
}
.slim-scrollbar {
	.scrollbars-visible-always {
		/deep/ ::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}
	}
}
atom-pane-container atom-pane .item-views {
    background-color: @app-background-color;
}
.panel-depth atom-pane-container atom-pane .item-views {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
		z-index: 100;
		pointer-events: none;
	}
}
