@import "ui-variables";
@import "ui-mixins";
@import "utilities";
@import "elevation";

.btn, button, button[class] {
    background: @app-background-color;
    color: @text-color;
    transition: all 250ms ease;
    height: 36px;
    border-radius: 3px;
    line-height: 36px;
    &:extend(.ripple);

    &:hover {
        background: lighten(@app-background-color, 2%);
        color: lighten(@text-color, 5%);
        &:extend(.elevation-1);
    }
    &:focus, &:active:focus {
        background: lighten(@app-background-color, 2%);
        color: lighten(@text-color, 5%);
        outline: none;
    }
    &:active {
        background: lighten(@app-background-color, 2%);
        color: lighten(@text-color, 5%);
        outline: none;
        &:extend(.elevation-2);
    }
    &.selected, &.selected:hover {
        background: darken(@app-background-color, 2%);
        &:extend(.elevation-0);
    }

    // Alternative Buttons

    &.btn-primary {
        background-color: @background-color-info;
        color: #FFF;

        &:hover, &:focus, &:active, &:active:focus {
            background-color: @background-color-info;
            color: #FFF;
        }
    }
    &.btn-info {
        background-color: @background-color-info;
        color: #FFF;

        &:hover, &:focus, &:active, &:active:focus {
            background-color: @background-color-info;
            color: #FFF;
        }
    }
    &.btn-success {
        background-color: @background-color-success;
        color: #FFF;

        &:hover, &:focus, &:active, &:active:focus {
            background-color: @background-color-success;
            color: #FFF;
        }
    }
    &.btn-warning {
        background-color: @background-color-warning;
        color: #FFF;

        &:hover, &:focus, &:active, &:active:focus {
            background-color: @background-color-warning;
            color: #FFF;
        }
    }
    &.btn-error {
        background-color: @background-color-error;
        color: #FFF;

        &:hover, &:focus, &:active, &:active:focus {
            background-color: @background-color-error;
            color: #FFF;
        }
    }
}
