atom-text-editor[mini] {
    position: relative;
    color: @text-color-highlight;
    background-color: transparent;
    line-height: 42px;
    max-height: none;
    box-shadow: inset 0 -1px 0 fade(@text-color, 5%);
    .md-underline(@base-color);

    .amu-paint-cursor & {
        .cursor {
            border-color: @base-color;
        }
    }
}

// FIXME: these should go in syntax themes?
atom-text-editor {
    .amu-paint-cursor & {
        .cursor {
            border-color: @base-color;
        }

        .gutter .cursor-line {
            color: @accent-color;
        }

        .gutter .cursor-line-no-selection {
            color: @base-color;
        }

        .bracket-matcher .region {
            border-color: @base-color;
            box-shadow: inset 0 -1px 0 @base-color;
        }
    }

    .gutter.drop-shadow {
        -webkit-box-shadow: -2px 0 10px 2px #222;
    }
}
