atom-panel-container {
    &.top, &.bottom, &.left, &.right {
        background-color: @app-background-color;

        atom-panel, .tool-panel {
            background-color: @app-background-color;
        }
    }
    .panel-shadows & {
        atom-panel {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 0.25rem;
                height: 100%;
                opacity: 0.1;
                pointer-events: none;
                z-index: 10000;
            }
            &.right {
                position: relative;

                &::after {
                    left: 0;
                    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                }
            }
            &.left {
                position: relative;

                &::after {
                    right: 0;
                    background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                }
            }
        }
    }
}
