@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.panel {
    &.bordered {
        border: 1px solid @base-border-color;
        border-radius: @component-border-radius;
    }
}
atom-panel, .tool-panel {
    .text(normal);
    position: relative;
    background-color: @app-background-color;
}
.inset-panel {
    position: relative;
    background-color: @app-background-color;
}
.is-blurred {
    atom-panel, .inset-panel {

    }
}
.panel-heading {
    .text(normal);
    background-color: transparent;
    background-image: -webkit-linear-gradient(@panel-heading-background-color, darken(@panel-heading-background-color, 10%));
}
.find-and-replace, .project-find {
    border-top: 1px solid @tool-panel-border-color;
    
    .options-label,
    .find-meta-container span,
    .header-item.description span {
        color: fade(@text-color, 30%);
    }
}
