.settings-view {
    .config-menu {
        min-width: 15rem;
        padding: 0.5rem 0;

        .nav > li {
            overflow: hidden;
            position: relative;

            &::before {
                display: none;
                content: '';
                position: absolute;
                border-radius: 50%;
                top: calc(50% - 1px);
                left: calc(50% - 1px);
                pointer-events: none;
                width: 2px;
                height: 2px;
                background-color: @accent-color;
                -webkit-transform: translate3d(0,0,0);
            }
            > a {
                padding: 0 1rem;
                line-height: 3rem;
                transition: color 250ms @md-timing-function;

                &::before {
                    margin-right: 2rem;
                }
                &:hover {
                    color: @text-color;
                }
            }
            &.active {
                &::before {
                    display: block;
                    -webkit-animation: ripplePaint 250ms @md-timing-function;
                    -webkit-animation-fill-mode: forwards;
                }
                a {
                    background-color: transparent;
                    .text-color(@accent-color);
                }
            }
        }
    }
}
@-webkit-keyframes ripplePaint {
    from { transform: scale(1); }
    to { transform: scale(130); }
}
