// NOTE: color of buttons on hover needs adjusting

.tool-bar {
    background: darken(@app-background-color, 3.5%);
    border: none;

    &.tool-bar-top {
        background: @accent-color;
        position: relative;
        z-index: 2000;
    }
    &.tool-bar-left {
        box-shadow: inset -0.125rem 0 0.25rem rgba(0,0,0,0.05);
    }
    &.tool-bar-vertical {
        width: 3rem;

        .tool-bar-btn:first-child {
            background: darken(@accent-color, 5%);
            .text-color(@accent-color);
        }
        .tool-bar-spacer {
            margin: 0.5rem 0;
        }
    }
    &.tool-bar-horizontal {
        height: 3rem;

        .tool-bar-btn {
            .text-color(@accent-color);
        }
        .tool-bar-spacer {
            margin: 0 0.5rem;
        }
    }
    &.tool-bar-horizontal, &.tool-bar-vertical {
        .tool-bar-spacer {
            border: none;
        }
    }
    &.tool-bar-16px, &.tool-bar-24px, &.tool-bar-32px {
        .tool-bar-btn {
            width: 3rem;
            height: 3rem;
            margin: 0;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            background: none;
            transition: color 250ms @md-timing-function;
            color: @text-color;

            &:hover:not(:first-child) {
                color: @text-color-dark;
            }
            &::before {
                // NOTE: should be configured by ui scaling setting
                font-size: 1.25rem;
            }
        }
        &.tool-bar-vertical.gutter-bottom::after {
            display: none;
        }
    }
}
