@import "ui-variables";

// Pattern matching; ish is cray.
// http://lesscss.org/#-pattern-matching-and-guard-expressions
.text(normal) {
  font-weight: normal;
  color: @text-color;
  text-shadow: none;
}
.text(subtle) {
  font-weight: normal;
  color: @text-color-subtle;
  text-shadow: none;
}
.text(highlight) {
  font-weight: normal;
  .highlight(@app-background-color);
}
.text(selected) {
  .text(highlight)
}
.text(info) {
  color: @text-color-info;
  text-shadow: none;
}
.text(success) {
  color: @text-color-success;
  text-shadow: none;
}
.text(warning) {
  color: @text-color-warning;
  text-shadow: none;
}
.text(error) {
  color: @text-color-error;
  text-shadow: none;
}
.highlight(@color) when (lightness(@color) > 50%) {
    color: lighten(@text-color, 15%);
}
.highlight(@color) when (lightness(@color) < 50%) {
    color: rgba(255,255,255,0.9);
}
.panel-background(@color) when (lightness(@color) > 50%) {
    background-color: desaturate(darken(@app-background-color, 5%), 10%);
}
.panel-background(@color) when (lightness(@color) < 50%) {
    background-color: @app-background-color;
}
.select-arrow(@color) when (lightness(@color) > 50%) {
    background: transparent url('atom://atom-material-ui/assets/arrow-drop-down.svg') no-repeat;
}
.select-arrow(@color) when (lightness(@color) < 50%) {
    background: transparent url('atom://atom-material-ui/assets/arrow-drop-down-white.svg') no-repeat;
}
